<div class="container">
  <h1>Retrouvez toutes les gares</h1>

  <% @stations_grouped_by_department.each do |departement, stations| %>
    <h3><%= departement %></h3>
    <hr>
    <% stations.each do |station| %>
      <div class="card-index">
        <p><%= station.name %></p>
        <p style= "font-style: italic"><%= station.ville %></p>
        <div class="buttons-div">
          <%= link_to "+", new_visite_path, class: "btn btn-ghost"%>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= link_to "Ajouter une nouvelle gare", new_station_path, class: "btn btn-primary" %>
</div>
