<div class="container" data-controller="stations">
  <h1>Retrouvez toutes les gares</h1>

  <% @stations_grouped_by_department.each do |departement, stations| %>
    <h3><%= departement %></h3>
    <hr>
    <% stations.each do |station| %>
      <div class="card-index">
        <% if current_user.visites.exists?(station_id: station.id) %>
          <i class="fa-regular fa-square-check"></i><p><%= station.name %></p>
        <% else %>
          <p><%= station.name %></p>
        <% end %>
        <p style= "font-style: italic"><%= station.ville %></p>
        <div class="buttons-div">
          <%= link_to "+", "#", class: "btn btn-ghost", "data-bs-toggle" => "modal", "data-bs-target" => "#visite_popup#{station.id}" %>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="visite_popup<%= station.id %>" tabindex="-1" aria-labelledby="visite_popup<%= station.id %>Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="visite_popup<%= station.id %>Label">Avez-vous déjà visité <%= station.name %> à  <%= station.ville %> ?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= render partial: "visites/new", locals: { station: station, visite: @visite } %>
              <%= link_to(station) do %>
                <strong>Découvrez la gare de <%= station.name %></strong>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= link_to "Ajouter une nouvelle gare", new_station_path, class: "btn btn-primary" %>
</div>
